*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 1140px;
  gap: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.content__list-container {
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1px;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  width: 0px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  display: block;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  padding: 2.5px 0;
  background-color: #1b1b1b;
  color: #fff;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  appearance: none;
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  box-sizing: border-box;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label-text {
  text-decoration: none;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible)
  .search-form__pseudo-checkbox {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.search-form__submit-button {
  min-width: 194px;
  padding: 6px 73.5px;
  align-self: flex-end;
}

.more-button {
  display: block;
  width: 100%;
  padding: 6px 20px;
  box-sizing: border-box;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current {
  background: rgba(84, 80, 80, 1);
}

.content__card-link:active {
  background: rgba(84, 80, 80, 1);
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.result__video-container,
.content__list-container {
  position: relative;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
